.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    top: 0;
    /* position: fixed; */
}
nav.header a{
    text-decoration: none;
    color: #FFF;
    margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}
.text-white{
    color: #FFF;
    padding-left: 5px;
}